<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="p : ${posts}">
    <p th:text="${p.id} + ' :: ' + ${p.title}"></p>
</div>
</body>
</html>